<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tweets</title>
    <style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
    </style>
</head>
<body>
    <h1><a href="/">TwitOff</a> - Tweets</h1>
    {% if tweets %}
    <table>
        <caption>Tweets &amp; Tweeters</caption>
        <thead>
            <tr>
                <th>Tweet</th>
                <th>Handle</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {% for tweet in tweets %}
            <tr>
                <td>{{ tweet['content'] }}</td>
                <td>
                    <a href="{{ tweet['tweeter_url'] }}">
                        {{ tweet['handle'] }}
                    </a>
                </td>
                <td>{{ tweet['name'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>
        <a href="javascript:alert('TO DO');">Reset Tweets</a>
    </p>
    {% else %}
    <p>No tweets</p>
    {% endif %}
</body>
</html>
