{% extends "home.html" %}

{% block action %}
<form action="" method="POST">
    {{ form.hidden_tag() }}
    <fieldset>
        <legend>Not enough tweeters - add one</legend>
        <div class="form-group">
            {{ form.screen_name.label() }}
            {{ form.screen_name() }}
        </div>
        <div class="form-group">
            {{ form.submit() }}
        </div>
        </fieldset>
</form>
{% if tweeters %}
<h3>Current Tweeters</h3>
<ul>
    {% for tweeter in tweeters %}
    <li>{{ tweeter }}</li>
    {% endfor %}    
</ul>
{% endif %}
{% endblock %}
