<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Twit-Off!!!</title>
</head>
<body>
    <h1>Welcome to Twit-Off</h1>
    <p>- a machine learning web application that tries to determine which
        twitter user was most likely to have tweeted an arbitrary tweet.
    </p>
    <ul>
        <li><a href="/tweeter">Tweeters</a></li>
        <li><a href="/tweet">Tweets</a></li>
    </ul>
</body>
</html>