{% extends "layout.html" %}

{% block content %}
{% if tweeter %}
<h2>{{ tweeter['screen_name'] }}</h2>
<p>Name: {{ tweeter['name'] }}</p>
<p>Number of followers: {{ tweeter['followers_count'] }}</p>
<p>Number of tweets: {{ tweeter['statuses_count'] }}</p>
    {% if tweets %}
    <h3>Stored tweets</h3>
    <ul>
        {% for tweet in tweets %}
        <li><p>{{ tweet }}</p></li>
        {% endfor %}
    </ul>
    {% endif %}
{% elif tweeters %}
<table>
    <thead>
        <tr>
            <th>Screen Name</th>
            <th>Name</th>
            <th>Number of Followers</th>
            <th>Number of Tweets</th>
        </tr>
    </thead>
    <tbody>
        {% for tweeter in tweeters %}
        <tr>
            <td><a href="/tweeters/{{ tweeter['screen_name'] }}">
                {{ tweeter['screen_name'] }}
            </a></td>
            <td>{{ tweeter['name'] }}</td>
            <td>{{ tweeter['followers_count'] }}</td>
            <td>{{ tweeter['statuses_count'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<h2>No tweeters in database.</h2>
{% endif %}
{% endblock %}
