<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tweeter</title>
    <style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
    </style>
</head>
<body>
    <h1><a href="/">TwitOff</a> - Tweeter</h1>
    {% if tweeters %}
    <table>
        <caption>Known Tweeters</caption>
        <thead>
            <tr>
                <th>Handle</th>
                <th>Name</th>
                <th>Number of Tweets</th>
            </tr>
        </thead>
        <tbody>
            {% for tweeter in tweeters %}
            <tr>
                <td>
                    <a href="{{ tweeter['tweeter_url'] }}">
                        {{ tweeter['handle'] }}
                    </a>
                </td>
                <td>{{ tweeter['name'] }}</td>
                <td>{{ tweeter['num_tweets'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>
        <a href="javascript:alert('TO DO');">Reset Tweeters</a>
    </p>
    {% else %}
    <p>No known tweeters</p>
    {% endif %}
    <p>
        <form action="/tweeter" method="POST">
            <label for="handle">New tweeter handle:</label>
            <input type="text" name="handle"
                maxlength="15" pattern="^[a-zA-Z0-9_]+$"
                title="max 15 alpha-numeric and _ characters"
                required
            >
        </form>
    </p>
    {% if messages %}
    <hr>
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
    {% endif %}
</body>
</html>