{% extends "layout.html" %}

{% block content %}
{% if tweeter %}
<h2>{{ tweeter['screen_name'] }}</h2>
<p>Name: {{ tweeter['name'] }}</p>
<p>Number of followers: {{ tweeter['followers_count'] }}</p>
<p>Number of tweets: {{ tweeter['statuses_count'] }}</p>
    {% if tweets %}
    <h3>{{ tweets|length }} stored tweets</h3>
    <ul>
        {% for tweet in tweets %}
        <li><p>{{ tweet }}</p></li>
        {% endfor %}
    </ul>
    {% endif %}
{% else %}
<h2>No tweeter supplied.</h2>
{% endif %}
{% endblock %}
