[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
ipykernel = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
basilica = "*"
tweepy = "*"
python-dotenv = "*"
requests = "*"
scikit-learn = "*"

[requires]
python_version = "3.7"
